@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #191923;
}

*{
  font-family: "Quicksand", sans-serif;
} 

h1, h2, h3 .cabin{
  font-family: "Cabin", sans-serif;
}

span {
  font-family:inherit;
  font-weight: inherit;
}

.amga-purple {
  color:#b687f2;
}
